#### Data Analytics ####
pandas
numpy
#### Data Visualisation ####
matplotlib
seaborn
#### Web Data Collection ####
beautifulsoup4
requests
yfinance

#### Jupyter Notebooks ####
jupyter
ipykernel
mermaid-python

scikit-learn
tokenizers


#jupyterlab-mermaid
spacy
### Time-Series ###
autogluon
statsmodels
#### CI / CD ####
# Style
flake8
# Formatting
black
# Dependency Vulnerabilities
pip-audit
